doctype html
head
  title A/O dashboard
  // CSS only
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css')
  link(rel='stylesheet' href='/css/style.css')
// main
.main
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Main Nav
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/ao') AO 
        li.nav-item
          a.nav-link(href='/fo') FO 
        li.nav-item
          a.nav-link(href='/gp') GP 
        li.nav-item
          a.nav-link(href='/add_prod') UF 
        li.nav-item 
          a.nav-link(href='/auth') Login    
  // tile section
  .container.tile-container
      .row.gx-5
          .col-lg-4
            #tile-num.border.bg-success
              p Farmers Registered
              p 120
          .col-lg-4
            #tile-num.border.bg-primary
              p Farmer One Active
              p 120
          .col-lg-4
            #tile-num.border.bg-warning
              p Appointed Farmer One
              p Yogesh Lakhani
  // end of tile
  // search bar

  .container.reg_btn
    .row
      .col-sm-12
      // Button trigger modal
      button.btn.btn-success#reg_button(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
        | Register Farmer One +

// Modal
#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 Register Farmer One
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container
          .row
            .col-lg-12
              form.cont-form#ao-form(action='/ao' method='post')
                .row.form-row
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='F/O Number' name='fo_id' required)
                    label#float-lables F/O Number
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='F/O password' name='password' required)
                    label#float-lables Password
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='date' placeholder='Registation Date'  name='reg_date' required)
                    label#float-lables Registration Date
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='Full Name'  name='full_name' required)
                    label#float-lables Full Name
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='date' placeholder='Date of Birth' name='dob' required)
                    label#float-lables Date of Birth
                  .form-floating.col-lg-6.form-sel-act
                    select.form-select(aria-label='Gender' name='Gender')
                      option() Gender
                      option(value='Male') Male
                      option(value='Female') Female
                  .form-floating.col-lg-6.form-sel-act
                    select.form-select(aria-label='Ward Represented' name='Ward_Represented' required)
                      option() Ward Represented
                      option(value='Kampala') Kampala
                      option(value='Masaka') Masaka
                      option(value='Jinja') Jinja
                      option(value='Hoima') Hoima    
                  .form-floating.col-lg-6.form-sel-act(style='margin-top:20px')
                    select.form-select(aria-label='Activities Involved' name='Acty_involved' required)
                      option() Activities involved
                      option(value='Mobilization') Mobilization
                      option(value='Supervision') Supervision
                      option(value='Regulation') Regulation
                      option(value='Support') Support              
                  .form-floating.col-lg-6(style='margin-top:20px')
                    input#floatingInput.form-control(type='text' placeholder='Nin Number' name='nin_number' required)
                    label#float-lables Nin Number
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='tel' placeholder='Phone Number' name='phn_nmbr' required)
                    label#float-lables Phone Number
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='Home Directions' name='home_directions' required)
                    label#float-lables Home Directions
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='Residence Type' name='res_type' required)
                    label#float-lables Residence Type
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='number' placeholder='period of stay' name='period_of_stay' required)
                    label#float-lables Period of Stay
                  .modal-footer
                    button.btn.btn-success(type='submit' ) Submit
                    button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close

//- update modal
#updatefarmerone.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 Update Farmer One
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .container
          .row
            .col-lg-12
              form.cont-form#ao-form(action=`/ao/update/${ao_users._id}` method='post')
                .row.form-row
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='F/O Number' name='fo_id' required)
                    label#float-lables F/O Number
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='Password' name='fo_id' value=`${ao_users.password}` disabled )
                    label#float-lables Password  
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='date' placeholder='Registation Date'  name='reg_date' required)
                    label#float-lables Registration Date
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='Full Name' value=`${ao_users.full_name}`  name='full_name' required)
                    label#float-lables Full Name
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='date' placeholder='Date of Birth' name='dob' required)
                    label#float-lables Date of Birth
                  .form-floating.col-lg-6.form-sel-act
                    select.form-select(aria-label='Gender' name='Gender')
                      option() Gender
                      option(value='Male') Male
                      option(value='Female') Female
                  .form-floating.col-lg-6.form-sel-act
                    select.form-select(aria-label='Ward Represented' name='Ward_Represented' required)
                      option() Ward Represented
                      option(value='Kampala') Kampala
                      option(value='Masaka') Masaka
                      option(value='Jinja') Jinja
                      option(value='Hoima') Hoima    
                  .form-floating.col-lg-6.form-sel-act(style='margin-top:20px')
                    select.form-select(aria-label='Activities Involved' name='Acty_involved' required)
                      option() Activities involved
                      option(value='Mobilization') Mobilization
                      option(value='Supervision') Supervision
                      option(value='Regulation') Regulation
                      option(value='Support') Support              
                  .form-floating.col-lg-6(style='margin-top:20px')
                    input#floatingInput.form-control(type='text' placeholder='Nin Number' name='nin_number' required)
                    label#float-lables Nin Number
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='tel' placeholder='Phone Number' name='phn_nmbr' required)
                    label#float-lables Phone Number
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='Home Directions' name='home_directions' required)
                    label#float-lables Home Directions
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='text' placeholder='Residence Type' name='res_type' required)
                    label#float-lables Residence Type
                  .form-floating.col-lg-6
                    input#floatingInput.form-control(type='number' placeholder='period of stay' name='period_of_stay' required)
                    label#float-lables Period of Stay
                  .modal-footer
                    button.btn.btn-success(type='submit' ) Update
                    button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close


                               
    // table
.container-fluid.info-table
    .row
      .table-responsive
        table.table.table-bordered.border-dark.table-hover
          thead(style='background-color: #3D8361; color: white;')
            tr
              th f/0 Number
              th Password
              th Date of Registration
              th Name
              th Date of Birth
              th Gender
              th Activities Involved
              th NIN Number
              th Phone Number
              th Directions to Home
              th Residence Type
              th Period of Stay in ward (Years)
              th Alter Details
          tbody
            each ao in ao_users
              tr.align-middle
                td #{ao.fo_id}
                td #{ao.password}
                td #{ao.reg_date}
                td #{ao.full_name}
                td #{ao.dob}
                td #{ao.Gender}
                td #{ao.Acty_involved}
                td #{ao.nin_number}
                td #{ao.phn_nmbr}
                td #{ao.home_directions}
                td #{ao.res_type}
                td #{ao.period_of_stay}
                td
                  a.text-success(href=`/ao/update/${ao._id}` data-bs-toggle='modal' data-bs-target='#updatefarmerone')
                   i.fas.fa-edit.fa-lg.mx-1
                   form(action=`/ao/delete` method="post")  
                      input(type="hidden" value=`${ao._id}` name='delete')  
                      button(type="submit") Delete
                               
                                   
// JavaScript Bundle with Popper 
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js' integrity='sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(type='text/javascript' src='https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3' crossorigin='anonymous')
script.
  $(document).ready(function(){
  $("table").DataTable({
  order:[0, 'desc']
  });
  });
