doctype html
head
  title
  // CSS only
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css')
  link(rel='stylesheet' href='/css/style.css')

style.
  .header1{
  text-align:center;
  margin-top:40px;
  }
// main
.main
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Main Nav
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='/ao') AO 
        li.nav-item
          a.nav-link(href='/fo') FO 
        li.nav-item
          a.nav-link(href='/gp') GP 
        li.nav-item
          a.nav-link(href='/add_prod') UF 
        li.nav-item 
          a.nav-link(href='/auth') Login    

h1.header1 Add Products
.container.main-container-uf
  .row
    .col-lg-12
      form#add-form.cont-form(action='/add_prod' method='post' enctype="multipart/form-data")
        .row.form-row
          .form-floating.col-lg-6
            input#floatingInput.form-control(type='date' placeholder='Date' name='date' required)
            label#float-lables Date
          .form-floating.col-lg-6
            input#floatingInput.form-control(type='text' placeholder='Produce Name' name='prod_name' required)
            label#float-lables Produce Name
        .row.form-row
          .form-floating.col-lg-6
            input#floatingInput.form-control(type='text' placeholder='Ward Name' name='ward_name' required)
            label#float-lables Ward Name
          .form-floating.col-lg-6
            input#floatingInput.form-control(type='number' placeholder='Unit Price' name='unit_price' required)
            label#float-lables Unit Price UGX
        .row.form-row
          .form-floating.col-lg-6
            input#floatingInput.form-control(type='text' placeholder='Quantity' name='qty' required)
            label#float-lables Quantity
          .form-floating.col-lg-6
            input#floatingInput.form-control(type='text' placeholder='Directions' name='directions' required)
            label#float-lables Directions
        .row.form-row
          .form-floating.col-lg-6.form-sel-act
            select.form-select(aria-label='Default select example' name='produce_type' required)
              option#selected(selected='') Produce Type
              option(value='Organic') Organic
              option(value='None Organic') None Organic
          .form-floating.col-lg-6.form-sel-act
            select.form-select(aria-label='Default select example' name='category' required)
              option#selected(selected='') Category
              option(value='Vegetables') Vegetables 
              option(value='Fruits') Fruits
              option(value='Dairy') Dairy
        .row.form-row
          .form-floating.col-lg-6.form-sel-act.mod-of-pay(style='margin-top:20px')
            select.form-select(aria-label='Default select example' name='mode_payment' required)
              option#selected(selected='') Mode of payment
              option(value='Cash') Cash
              option(value='Mobile Money') Mobile Money
          .form-floating.col-lg-6.form-sel-act(style='margin-top:20px')
            select.form-select(aria-label='Default select example' name='mode_of_delivery' required)
              option#selected(selected='') Mode of delivery
              option(value='Pick Up') Pick Up
              option(value='Home delivery') Home delivery
          .col-lg-6(style='margin-top:20px')
            div
              input#formFile.form-control.upload-image(type='file' name='prod_image' required style='height:50px')
        button(type='submit' name='submit' class='submit-btn' style='margin-left:600px; background-color:green; color:white; border:none; width:100px; height:50px;') Add item


//- update modal



.container-fluid.info-table
  .row
      .table-responsive
         table.table.table-bordered.border-success.table-hover
           thead(style='background-color: #3D8361; color: white;')
                tr#align-middle                
                    th Date
                    th(scope='col') Produce Name
                    th(scope='col') Ward Name
                    th(scope='col') Unit Price (UGX)
                    th(scope='col') Quantity
                    th(scope='col') Directions
                    th(scope='col') Produce Type
                    th(scope='col') Mode of Payment
                    th(scope='col') Mode of Delivery 
                    th Status 
                    th Category   
                    th(scope='col') Product Img
                    th(scope='col') Action
                      tbody
                          each user_prod in user_produce
                            tr.align-middle                                                        
                                  td #{user_prod.date}
                                  td #{user_prod.prod_name}
                                  td #{user_prod.ward_name}
                                  td #{user_prod.unit_price}
                                  td #{user_prod.qty}
                                  td #{user_prod.directions}
                                  td #{user_prod.produce_type}
                                  td #{user_prod.mode_payment}
                                  td #{user_prod.mode_of_delivery}
                                  td #{user_prod.prod_status}
                                  td #{user_prod.category}
                                  td 
                                    img(src="/"+user_prod.prod_image, width="90" class="img-thumbnail")                                  
                                  .d-inline
                                    td
                                      a.text-success(href=`/add_prod/update/${user_prod._id}`)
                                        i.fas.fa-edit.fa-lg.mx-1 
                                      form(action=`/add_prod/delete` method="post")  
                                        input(type="hidden" value=`${user_prod._id}` name='delete')  
                                        button(type="submit") Delete
                                        


script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js' integrity='sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(type='text/javascript' src='https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3' crossorigin='anonymous')
script.
  $(document).ready(function(){
  $("table").DataTable({
  order:[0, 'desc']
  });
  });


//- script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8' crossorigin='anonymous')
